<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453891629595-r36uv2m6ictoa1c1tsq6gvmpiovht03e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453891629595-r36uv2m6ictoa1c1tsq6gvmpiovht03e</string>
	<key>API_KEY</key>
	<string>AIzaSyAj_GdfN0XuMPQ0DL3PWrycywKVbv8AJVo</string>
	<key>GCM_SENDER_ID</key>
	<string>453891629595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khoatransoftware.bluetoothTestBeaconApp</string>
	<key>PROJECT_ID</key>
	<string>ai-integrated-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-integrated-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453891629595:ios:ba88a21a4b4ce7866c0ebe</string>
	<key>DATABASE_URL</key>
	<string>https://ai-integrated-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>